body{ text-align:center; margin:20px auto; background-color:#502788}
img{ width:70%;heigth:50%; border:2px solid grey; margin-bottom:10px; border-radius:10px; }
div{ float:left; margin-left:10px; width:15%;}
li{ list-style-type: none; }
h1{ font-size:130%; color:orange; text-align:center; }
